<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Arena Raízes - TV</title>

    <link
        rel="stylesheet"
        href="{{ url_for(
            'static',
            filename='css/tv.css'
        ) }}">

</head>


<body>


    <div id="liveBadge">

        <div id="liveDot"></div>

        <span>AO VIVO</span>

    </div>


    {% block content %}

    {% endblock %}


    <div id="tvLogo">

        <img
            src="{{ url_for(
                'static',
                filename='img/logo.png'
            ) }}"
            alt="Arena Raízes">

    </div>


</body>

</html>