<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Arena Replay TV</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tv.css') }}">

    <style>

    </style>

</head>

<body>

<div id="liveBadge">

    <div id="liveDot"></div>

    AO VIVO

</div>

<div id="replayOverlay">

    <div id="replayTitle">

        🎬 REPLAY

    </div>

    <div id="arenaName">

        Arena Raízes

    </div>

    <div id="countdown">

        3

    </div>

</div>

{% block content %}

{% endblock %}

<div id="tvLogo">

    <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        alt="Arena Raízes">

</div>

</body>

</html>